<h1>Gerenciamento ES</h1>
<ul>
  <li><%= link_to "Funcionarios", funcionarios_path %></li>
  <li><%= link_to "Moradores", moradors_path %></li>
  <li><%= link_to "Encomendas", encomendas_path %></li>
</ul>