<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @produto.nome %>
</p>

<%= link_to 'editar', edit_produto_path(@produto, :encomenda_id => @encomenda.id) %> |
<%= link_to 'voltar', encomenda_path(@encomenda) %>